h1 {
	width: 223px;
	height: 58px;
	font-weight: 700;
	font-size: 48px;
	color: rgba(48, 203, 194, 1);
	font-family: monospace;
	margin-top: 54px;
	margin-left: 52px;
	margin-right: 60px;
	display: inline-block;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
li {
	display: inline-block;
}

a {

	display: inline-block;
	text-decoration: none;

}
.nav {
font-weight: 700;
font-size: 26px;
color: rgba(141, 129, 255, 1);

}

#active {
	color:rgba(78, 111, 174, 1) ;
}

#m1 {
	margin-right: 87px;

}

#m2 {
margin-right: 81px;
}

div {

	width:1660px ;
	height:735px ;
	background-color: rgba(231, 231, 231, 1);
	padding-top: 93px;
	padding-left: 162px;
	padding-bottom: 93px;


}

h2 {

	width:474px ;
	height:34px ;
	font-weight:700 ;
	font-size:36px ;
	color:rgba(78, 111, 174, 1) ;
	display: inline-block;

}


p {

	width:307px;
	height:24px ;
	font-weight:400 ;
	font-size:20px ;
}


iframe {
	float: right;
	width: 944px;
	height: 549px;
	display: flex;
	margin-right: 163px;
	margin-bottom: 200px;

}


#fb {
	margin-left: 96px;
	margin-right: 0px;
	margin-top: 104px;
	width: 50px;
	height: 50px;

}


#line {
	width: 2px;
	height: 48px;
		background-color: rgba(80, 18, 213, 1);
		display: inline-block;
		margin: 0px 41px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

#yt {

	width: 71px;
	height: 49px;
	margin-right: 0px;

}
